certifi
chardet
click
colorama
dominate
Flask
Flask-Bootstrap
future
httplib2
idna
itsdangerous
Jinja2
jupyter-echarts-pypkg
lml
logzero
MarkupSafe
mysql-connector-python
Pillow
protobuf
pyecharts
pyecharts-javascripthon
pyecharts-jupyter-installer
pytest
pytest-html
requests
retrying
selenium
six
urllib3
visitor
Werkzeug
uiautomator2
