{% extends "index_1.html" %}

{% block title %}UI自动化 测试平台 - new test cases{% endblock %}

{% block head %}
<meta name="viewport" content="width=device-width"/>
<script src="../static/jquery-1.12.4.js"></script>
<script src="../static/scripts/util/init.js"></script>
<script src="../static/scripts/util/util.js"></script>
<script src="../static/scripts/core/test_case.js"></script>

<script src="../static/bootstrap-3.3.7-dist/dist/js/bootstrap.js"></script>
<link href="../static/bootstrap-3.3.7-dist/dist/css/bootstrap.css" rel="stylesheet"/>
<link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">

<script src="../static/bootstrap-table-develop/dist/bootstrap-table.js"></script>
<link href="../static/bootstrap-table-develop/dist/bootstrap-table.css" rel="stylesheet"/>
<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
<link href="../../static/css/font-awesome.css" rel="stylesheet">
<link href="../../static/css/animate.css" rel="stylesheet">
<link href="../../static/css/style.css" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="wrapper wrapper-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="text-align:center">新增测试用例</h1>
                <form class="form-horizontal" id="new_test_case" action="/add_test_case" method="post">
                    <!--action="/save_new_test_case" method="post"-->
                    <div class="form-group">
                        <label for="type" class="col-sm-2 control-label">用例类型</label>
                        <div class="col-sm-10">
                            <select class="form-control required" name="type" id="type"
                                    onchange="if(this.value != '') setModule(this.options[this.selectedIndex].value);">
                                <option value="">-请选择-</option>
                                <option value="普通用例" selected>普通用例</option>
                                <option value="公共用例">公共用例</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="module" class="col-sm-2 control-label">所属模块</label>
                        <div class="col-sm-10">
                            <select class="form-control required" name="module" id="module">
                                <option value="All">all</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control required" id="name" name="name" maxlength="20"
                                   placeholder="请输入用例名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="steps" class="col-sm-2 control-label">步骤</label>
                        <div class="col-sm-10">
                            <a href="javascript:void(0)" onclick="openEditStepWindow()">步骤生成器</a>
                            <textarea class="form-control required" id="steps" name="steps" placeholder="请输入步骤"
                                      cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-10">
                            <input type="longtext" class="form-control" id="description" name="description"
                                   maxlength="50"
                                   placeholder="请输入描述">
                        </div>
                        <div id="editStep" class="white_content">
                            <h3 align="center">测试步骤</h3>
                            <h5>步骤代码： </h5>
                            <textarea type="longtext" class="form-control" id="step" readonly="readonly" cols="10"
                                      rows="5"></textarea>
                            <table id="stepsTable" border="1" cellspacing="10">
                                <thead>
                                <tr>
                                    <th width="15%">操作</th>
                                    <th width="10%">关键字</th>
                                    <th width="10%">参数1</th>
                                    <th width="25%">参数2</th>
                                    <th width="15%">参数3</th>
                                    <th width="15%">参数4</th>
                                    <th >步骤</th>
                                </tr>
                                </thead>
                                <tbody id='tbody'>
                            </table>
                            <div align="left">
                            <a class="btn  btn-primary btn-sm" href="javascript:void(0)" onclick="SaveAndCloseEditStepWindow()">保存</a>
                            <a class="btn btn-outline btn-default btn-sm" href="javascript:void(0)" onclick="closeEditStepWindow()">关闭</a>
                            </div>
                        </div>
                        <div id="fade" class="black_overlay"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button id="submitButton" class="btn btn-primary" onclick="submitAddForm()">保存</button>
                            <button id="btn_add" type="button" class="btn btn-default"
                                    onclick="window.location.href=('/test_cases')">返回
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>

    <style>
.error{
	color:red;
}
.black_overlay{ display: none; position: absolute; top: 0%; left: 10%; width: 90%; height: 100%; background-color: black; z-index:1001; -moz-opacity: 0.6; opacity:.60; filter: alpha(opacity=60); }
.white_content { display: none; position: absolute; top: 0%; left: 10%; width: 90%; height: 100%; padding: 16px; border: 2px solid green; background-color: white; z-index:1002; overflow: auto; }


    </style>
    </form>
</div>
{% endblock %}